*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background: #ECF0F3;
}
ul,ol{
    list-style: none;
}

.big-container{
    width: 93%;
    margin: auto;
}
.container{
    width: 78%;
    margin: auto;
}
a{
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-between;
}.menu-area{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    
}
.menu a{
    

    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0 23px;
    color:#363636;
    display: inline-block;
    margin-top: 10px;
   
   
}

.menu a:hover{
 color: red;
 transition: .3s;
}


.cart{
   
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 50%;
    margin-right: 25px;
    padding: 8px 12px;
    margin-top: -7px;
    position: relative;
    display: block;
    
}
.cart:hover{
   top: -3px;
   transition: 2s;
}

.cart i{
    font-size: 13PX;
}
.cart p{
    position: absolute;
    top: -3px;
    left: 30px;
    background: red;
    border-radius: 50%;
    color: white;
    padding: 2px 6px;
    font-size: 9px;
}
.logo-area img{
    width: 120px;
    padding-top: 10PX;
  
    
}

.nav-section{
    margin-top: 7px;
    padding-bottom: 1px;
}
.menu-area {
    margin-top: 20px;
}

.nav-btn button{
    background: linear-gradient(145deg, #dce6ec, #ffffff);
    box-shadow:  10px 10px 15px 1PX #D1D9E6;
    border: none;
   padding: 16px 30px;
   font-weight: 500;
    
    position: relative;
    margin-left: 10px;
    margin-top: -20px;
    border-radius: 6px;
    color: red;
   
    
}
button:hover{
    background: linear-gradient(145deg, #6E67CC, #D96483);
    color: white;
    transition: .5s;
    
}



.strate-line{
    background: rgb(223, 220, 220);
    height: .07px;
    width: 100%;
    margin-bottom: 30px;
}


/* HERO SECTION */


.hero-writen-section{
    width: 60%;
}
.heading{
    margin-top: 60px;
}

.heading h3{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}


.heading h1{
    
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 22px;
    font-family: "Montserrat", sans-serif;
}
span{
    font-family: "Montserrat", sans-serif;
    color: #FF0652;
}
.hero-img-section {
    width: 730px;
    
}
.hero-img-section img{
    width: 70%;
    padding-left: 150px;
    position: relative;
    z-index: 3;
}



.heading p{
    font-size: 15px;
    line-height: 25px;
    color: #5c5c5c;
    
}
.link-icon{
    margin-top: 100px;
}
.link-icon i, .unlink-icon i{
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10%;   
    margin-right: 25px;
    padding: 16px 16px;
    position: relative;
    
    font-size: 20px;
}
.link-icon h3 , .unlink-icon h3{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}
.unlink-icon{
    margin-top: 100px;
}
.link-icon i:hover{
    background: linear-gradient(145deg, #6E67CC, #D96483);
    color: white;
    transition: .8s;
}


/*  What I do section */

/* main what i do */

.what-i-do{
    margin-top: 120px; margin-bottom: 50px;
   
    
}
.what-i-do h3{
    color: red;
    text-align: center;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 50px;
}
.what-i-do h1{
    text-align: center;
    margin-bottom: 40px;
}


.col-3{
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 25%;
    padding: 21px 20px 60px 45px;
    border-radius: 10px;
    position: relative;
}



.col-3 h2{
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    
}
.col-3 p{
    background: none;
    font-family: 'Poppins', sans-serif;
    
    font-size: 15px;
    line-height: 25px;
    
}
.col-3 i{
    background: none;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #FF0652;
}


.col-3:hover{
    background:  #D96483;
    color: white;
    transition: .5s;
   
}

.iwhat-i-do .col-3:hover{
    background: #6E67CC;
    color: #ffffff;
    transform: .4s;
}


/* .col-3:hover{
    background: linear-gradient(145deg, #6E67CC, #D96483);
    color: white;
    transition: .5s;
} */



/* protfolio  section*/

.my-resume{
    text-align: center;
}
.my-resume h3{
    color: red;
    margin-bottom: 12px;
}
 h1{
    color: #3C3E41;
}


/* my-resume */

.my-resume{
    margin-bottom: 100px;
    margin-top: 160px;
}

.resume-menu{
    margin-top: 60px;
}





.resume-menu .col-4{
    width: 25%;
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 25px 10px;
    
    font-size: 16px;

}


.education h4{
    color: red;
   
}
.resume-menu  .education{
    border-radius: 10px;
    box-shadow:  5px 5px 15px #acb7c7, -5px -5px 15px #ffffff;
    z-index: 3;
}
h4{
    background: none;
    font-size: 16px;
    font-weight: 500;
}

.resume-menu .col-4:hover {
    border-radius: 10px;
    box-shadow:  5px 5px 15px #acb7c7, -5px -5px 15px #ffffff;
    color: red;
    transition: .4s;
    top: -2px;

}

/* education details */


.education-details{
    margin-top: 50px;
}
.education-year .heading{
    text-align: left;
}

.education-year h1{
   font-size: 40PX;
   margin-top: -10PX;
   margin-bottom: -30px;
}
.education-details h2{

    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
    /* padding: 50px 0px 40px 50px; */
    font-size: 22px;
    margin-bottom: 5PX;
}

.education-details p{
    text-align: left;
    background: none;
    font-family: 'Poppins', sans-serif;
    
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 0px;

    
}
.cgpa {
    width: 66px;
    text-align: center;
    margin-left:370px ;
    margin-top: -40px;
    border-radius: 5px;
    color: #FF0652;
    font-weight: 500;
    border: 1px solid rgb(227, 205, 85);
    padding-left: 10PX;

}

.VARSITY{
    
    font-family: Arial, Helvetica, sans-serif;
    background: none;
}
.education-details .strate-line{
    width: 450PX;
    background: #b7babd;
    margin-top: 30px;
    
    
}

.education-details .col-2{
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 33%;
    padding: 60px 120px 60px 60px;
    border-radius: 10px;

}  
.col-2 p{
    font-family: 'Poppins', sans-serif;
    
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
   
}
.education-details .col-2:hover{
    background: linear-gradient(145deg, #6E67CC, #D96483);
    color: #ffffff;
    transition: .4s;
}